<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th scope="col"><strong>#</strong></th>
        <th scope="col"><strong>Nom</strong></th>
        <th scope="col"><strong>Prix</strong></th>
        <th scope="col"><strong>Vendus</strong></th>
        <th scope="col"><strong>Total</strong></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
    <% @cats.each do |cat|%>
      <tr>
        <th scope="row"><%= cat.id %></th>
        <td><%= cat.title %></td>
        <td><%= cat.price %></td>
        <td><%= cat.cart_cats.count %></td>
        <td class="text-danger">TODO</td>
        <td>
            <%= link_to "supprimer", "#" %><br/>
            <%= link_to "éditer", "#" %>
        </td>
      </tr>
    <%end%>
    <tr>
        <td><strong>Total</strong></td>
        <td><strong></strong></td>
        <td><strong></strong></td>
        <td><strong>TODO</strong></td>
        <td><strong>TODO</strong></td>
        <td><strong></strong></td>
      </tr>
    </tbody>
  </table>
</div>
