<%= render 'banner_edit' %>

<section class="bg-light p-0">
  <div class="container">
    <div class="row justify-content-center">

        <div class="nav nav-tabs mb-1">
          <a class="nav-item nav-link active" data-toggle="tab" href="#demo-2-1">Profil</a>
          <a class="nav-item nav-link" data-toggle="tab" href="#demo-2-4">Mes infos</a>
          <a class="nav-item nav-link" data-toggle="tab" href="#tab_buyer">Mes achats</a>
          <a class="nav-item nav-link" data-toggle="tab" href="#tab_seller">Mes ventes</a>
        </div>

    </div>
  </div>
</section>

<section class="bg-light pt-2">

  <div class="container">
    <div class="tab-content" id="demo-2">

      <!-- tab info -->
      <div class="tab-pane show active" id="demo-2-1" role="tabpanel" aria-labelledby="demo-2-1">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8">
            <!-- PROFILE -->
            <div class="tab-content" id="component-1">
              <div class="tab-pane show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
                <div class="component-example">
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <div class="owl-carousel visible" data-items="[3,2]" data-margin="20">
                          <div class="step">
                            <h4 class="step-title">Je complète mon profil vendeur</h4>
                            <p>L'onglet <i><big>MES INFOS</big></i> nous permet de faire un peu plus connaissance.</p>
                          </div>
                          <div class="step">
                            <h4 class="step-title">Je me rends sur le formulaire de téléchargement</h4>
                            <p>Maintenant qu'on se connait mieux, clique sur bouton <i><big>Vendre</big></i> puis remplis le formulaire de vente de ta photo.</p>
                          </div>
                          <div class="step">
                            <h4 class="step-title">Je consulte mes transactions</h4>
                            <p>A tout moment tu peux consulter l'état de tes transactions en cours ou passées dans les onglets  <i><big>MES ACHATS</big></i>  <i><big>MES VENTES</big></i></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>    
      <!-- / PROFILE -->
      <!-- / tab -->
      
      

      <!-- tab settings -->
      <div class="tab-pane" id="demo-2-4" role="tabpanel" aria-labelledby="demo-2-4">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8">

            <div class="row mb-4">
              <div class="col">
                <div class="boxed">
                  <div class="row align-items-center justify-content-between p-3">
                    <div class="col-md-2 pb-2 pb-md-0 text-center">
                      <% if current_user.profile.profile_picture.attached? %>
                        <%= image_tag current_user.profile.profile_picture, class: "avatar avatar-lg rounded", alt: "Avatar" %>
                      <% else %>
                        <%= image_tag "profile_nil.png", class: "avatar avatar-lg rounded", alt: "Avatar"%>
                      <% end %>
                    </div>
                    <div class="col-md-5 text-center text-md-left">
                        <h4 class="mb-0"><%= current_user.email %></h4>
                        <a href="" class="fs-14 link text-primary">Change Avatar</a>
                        <%= form_tag url_for(action: 'update'), method: "patch", multipart: true do %>

                        <%= file_field_tag :profile_picture %>
                        </div>
                        <div class="col-md-4 text-center text-md-right mt-1 mt-md-0">
                         <!-- <a href="" class="btn btn-primary btn-rounded">Upgrade Plan</a> -->
                        </div>

                      </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <h5 class="mb-2 fs-20 font-weight-normal">General Information</h5>
                <form>

                  <div class="form-row">
                    <div class="col">
                      <div class="form-group">
                        <label for="firstName">First Name</label>
                        <%= text_field_tag :first_name, @profile.first_name, class: 'form-control' %>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="secondName">Last Name</label>
                        <%= text_field_tag :last_name, @profile.last_name, class: 'form-control' %>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col">
                      <div class="form-group">
                        <label for="userMail">Email address</label>
                        <input type="email" class="form-control" id="userMail" aria-describedby="userMail" placeholder="johndoe@example.com">
                      </div>
                    </div>
                  </div>
                  <!--<div class="form-row mt-1 align-items-center">
                    <div class="col-3">
                      <%= submit_tag "Save Changes", class: "btn btn-secondary"%>
                    </div>
                  </div> -->
              </div>
            </div>

            <div class="row">
              <div class="col">
                <h5 class="mb-2 fs-20 font-weight-normal">Profile Information</h5>
                  <div class="form-row">
                    <div class="col">
                      <div class="form-group">
                        <label for="userCity">City</label>
                        <%= text_field_tag :city, @profile.city, class: 'form-control' %>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="userCountry">Country</label>
                        <%= text_field_tag :country, @profile.country, class: 'form-control' %>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col">
                      <div class="form-group">
                        <label for="userCity">Zip Code</label>
                        <%= text_field_tag :zip_code, @profile.zip_code, class: 'form-control' %>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                  <div class="col">
                      <div class="form-group">
                        <label for="userCountry">Address</label>
                        <%= text_field_tag :address, @profile.address, class: 'form-control' %>
                      </div>
                    </div>
                    </div>
                  <div class="form-row">
                    <div class="col">
                      <div class="form-group">
                        <label for="userTwitter">Phone number</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">+33</span>
                          </div>
                            <%= telephone_field_tag :phone_number, @profile.phone_number, class: 'form-control' %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col">
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Description</label>
                        <%= text_area_tag :description, @profile.description, class: 'form-control' %>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-3">
                      <%= submit_tag "Save Changes", class: "btn btn-secondary"%>
                    </div>
                  </div>
                </form>
               <% end%>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- tab mes annonces -->
      <div class="tab-pane" id="tab_buyer" role="tabpanel" aria-labelledby="tab_buyer">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">

              <!-- PROFILE -->
              <%= render 'profiles/partials/tab_buyer' %>
              <!-- / PROFILE -->


            </div>
          </div>
        </div>
        <!-- / tab mes annonces -->

        <!-- tab mes annonces -->
      <div class="tab-pane" id="tab_seller" role="tabpanel" aria-labelledby="tab_seller">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">

              <!-- PROFILE -->
              <%= render 'profiles/partials/tab_seller' %>
              <!-- / PROFILE -->

            </div>
          </div>
        </div>
        <!-- / tab mes annonces -->


    </div>
  </div>
</section>
