<%= render 'banner_edit' %>

<section class="bg-light p-0">
  <div class="container">
    <div class="row justify-content-center">

        <div class="nav nav-tabs mb-1">
          <a class="nav-item nav-link active" data-toggle="tab" href="#demo-2-1">Profile</a>
          <a class="nav-item nav-link" data-toggle="tab" href="#demo-2-2">Connections</a>
          <a class="nav-item nav-link" data-toggle="tab" href="#demo-2-3">Payments</a>
          <a class="nav-item nav-link" data-toggle="tab" href="#demo-2-4"><%= image_tag ('icon_parametre.png') %></a>
        </div>
      
    </div>
  </div>
</section>

<section class="bg-light pt-2">

  <div class="container">
    <div class="tab-content" id="demo-2">

      <!-- tab info -->
      <div class="tab-pane show active" id="demo-2-1" role="tabpanel" aria-labelledby="demo-2-1">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8">

            <!-- PROFILE -->
            <div class="row gutter-1 mb-2">
              <div class="col-6 col-md-4 col-lg-3">
                <div class="equal">
                  <div class="boxed bg-primary text-white">
                    <div class="equal-header">
                      <b class="h2">89</b>
                    </div>
                    <div class="equal-footer">
                      <span class="text-muted">friends</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 col-lg-3">
                <div class="equal">
                  <div class="boxed">
                    <div class="equal-header">
                      <b class="h2">14</b>
                    </div>
                    <div class="equal-footer">
                      <span class="text-muted">likes</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 col-lg-3">
                <div class="equal">
                  <div class="boxed">
                    <div class="equal-header">
                      <b class="h2">9</b>
                    </div>
                    <div class="equal-footer">
                      <span class="text-muted">articles</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 col-lg-3">
                <div class="equal">
                  <div class="boxed">
                    <div class="equal-header">
                      <b class="h2">119</b>
                    </div>
                    <div class="equal-footer">
                      <span class="text-muted">following</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / PROFILE -->


          </div>
        </div>
      </div>
      <!-- / tab -->

      <!-- tab connections -->
      <div class="tab-pane" id="demo-2-2" role="tabpanel" aria-labelledby="demo-2-2">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8">
            <div class="row gutter-1">
              <div class="col-md-4">

              </div>
              <div class="col-md-4">


              </div>
              <div class="col-md-4">

              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8">
            <div class="row gutter-1">
              <div class="col-12">
                <div class="boxed p-2">
                  <div class="row align-items-center justify-content-between">
                    <div class="col-10">
                      <div class="media align-items-center">
                        <img src="../../assets/images/demo/user-5.jpg" alt="Avatar" class="avatar avatar-lg rounded mr-3">
                        <div class="media-body">
                          <h5 class="mb-0">Nicole Doe</h5>
                          <span class="text-muted">Senior UI Designer</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-2 text-md-right">
                      <div class="dropdown">
                        <a class="btn btn-ico btn-outline-light text-dark rounded btn-sm" href="#" role="button" id="dropdownMenuLink-3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="icon-more-vertical fs-22"></i>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-3">
                          <a class="dropdown-item" href="#">Make Primary</a>
                          <a class="dropdown-item" href="#">Remove</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="boxed p-2">
                  <div class="row align-items-center justify-content-between">
                    <div class="col-10">
                      <div class="media align-items-center">
                        <img src="../../assets/images/demo/user-2.jpg" alt="Avatar" class="avatar avatar-lg rounded mr-3">
                        <div class="media-body">
                          <h5 class="mb-0">James Doe</h5>
                          <span class="text-muted">Senior UI Designer</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-2 text-md-right">
                      <div class="dropdown">
                        <a class="btn btn-ico btn-outline-light text-dark rounded btn-sm" href="#" role="button" id="dropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="icon-more-vertical fs-22"></i>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-4">
                          <a class="dropdown-item" href="#">Make Primary</a>
                          <a class="dropdown-item" href="#">Remove</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="boxed p-2">
                  <div class="row align-items-center justify-content-between">
                    <div class="col-10">
                      <div class="media align-items-center">
                        <img src="../../assets/images/demo/user-3.jpg" alt="Avatar" class="avatar avatar-lg rounded mr-3">
                        <div class="media-body">
                          <h5 class="mb-0">Violet Doe</h5>
                          <span class="text-muted">Senior UI Designer</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-2 text-md-right">
                      <div class="dropdown">
                        <a class="btn btn-ico btn-outline-light text-dark rounded btn-sm" href="#" role="button" id="dropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="icon-more-vertical fs-22"></i>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-5">
                          <a class="dropdown-item" href="#">Make Primary</a>
                          <a class="dropdown-item" href="#">Remove</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="boxed p-2">
                  <div class="row align-items-center justify-content-between">
                    <div class="col-10">
                      <div class="media align-items-center">
                        <img src="../../assets/images/demo/user-4.jpg" alt="Avatar" class="avatar avatar-lg rounded mr-3">
                        <div class="media-body">
                          <h5 class="mb-0">Valerie Doe</h5>
                          <span class="text-muted">Senior UI Designer</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-2 text-md-right">
                      <div class="dropdown">
                        <a class="btn btn-ico btn-outline-light text-dark rounded btn-sm" href="#" role="button" id="dropdownMenuLink-6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="icon-more-vertical fs-22"></i>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-6">
                          <a class="dropdown-item" href="#">Make Primary</a>
                          <a class="dropdown-item" href="#">Remove</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="boxed p-2">
                  <div class="row align-items-center justify-content-between">
                    <div class="col-10">
                      <div class="media align-items-center">
                        <img src="../../assets/images/demo/user-6.jpg" alt="Avatar" class="avatar avatar-lg rounded mr-3">
                        <div class="media-body">
                          <h5 class="mb-0">Nick Doe</h5>
                          <span class="text-muted">Senior UI Designer</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-2 text-md-right">
                      <div class="dropdown">
                        <a class="btn btn-ico btn-outline-light text-dark rounded btn-sm" href="#" role="button" id="dropdownMenuLink-7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="icon-more-vertical fs-22"></i>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-7">
                          <a class="dropdown-item" href="#">Make Primary</a>
                          <a class="dropdown-item" href="#">Remove</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / tab -->

      <!-- tab Payments -->
      <div class="tab-pane" id="demo-2-3" role="tabpanel" aria-labelledby="demo-2-3">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8">
            <div class="row">
              <div class="col">
                <div class="boxed p-3">
                  <div class="row align-items-center justify-content-between">
                    <div class="col-3 col-md-2">
                      <img src="../../assets/images/demo/stock/mastercard.png" alt="Image">
                    </div>
                    <div class="col-7 col-md-5">
                      <h5 class="fs-18 font-weight-normal mb-0">•••• •••• •••• 7041</h5>
                      <small>Exp: 08/20</small>
                    </div>
                    <div class="col-2 col-md-4 text-md-right">
                      <div class="dropdown">
                        <a class="btn btn-ico btn-outline-light text-dark rounded btn-sm" href="#" role="button" id="dropdownMenuLink-11" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="icon-more-vertical fs-22"></i>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-11">
                          <a class="dropdown-item" href="#">Make Primary</a>
                          <a class="dropdown-item" href="#">Remove</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="boxed p-3 mt-1">
                  <div class="row align-items-center justify-content-between">
                    <div class="col-3 col-md-2">
                      <img src="../../assets/images/demo/stock/visa.png" alt="Image">
                    </div>
                    <div class="col-7 col-md-5">
                      <h5 class="fs-18 font-weight-normal mb-0">•••• •••• •••• 7041</h5>
                      <small>Exp: 08/20</small>
                    </div>
                    <div class="col-2 col-md-4 text-md-right">
                      <div class="dropdown">
                        <a class="btn btn-ico btn-outline-light text-dark rounded btn-sm" href="#" role="button" id="dropdownMenuLink-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="icon-more-vertical fs-22"></i>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink-12">
                          <a class="dropdown-item" href="#">Make Primary</a>
                          <a class="dropdown-item" href="#">Remove</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row align-items-center mb-2">
              <div class="col-lg-6 text-center text-lg-left">
                <h3 class="fs-22 font-weight-normal">New Payment Method</h3>
              </div>
              <div class="col-lg-6 text-center text-lg-right mt-1 mt-lg-0">
                <div class="nav nav-switch">
                  <a class="nav-item nav-link active" id="first-tab" data-toggle="tab" href="#pricing-first">Credit Card</a>
                  <a class="nav-item nav-link" id="second-tab" data-toggle="tab" href="#pricing-second">Paypal</a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="tab-content" id="myTabContent-2">
                  <div class="tab-pane show active" id="pricing-first" role="tabpanel" aria-labelledby="first-tab">
                    <div class="boxed p-3">
                      <form>
                        <div class="form-row mb-1">
                          <div class="col">
                            <input type="text" class="form-control form-control-minimal" placeholder="Name on card">
                          </div>
                        </div>
                        <div class="form-row mb-1">
                          <div class="col">
                            <input type="text" class="form-control form-control-minimal" placeholder="0000-0000-0000-0000">
                          </div>
                        </div>
                        <div class="form-row mb-1">
                          <div class="col">
                            <input type="text" class="form-control form-control-minimal" placeholder="MM/YY">
                          </div>
                          <div class="col">
                            <input type="text" class="form-control form-control-minimal" placeholder="CVV">
                          </div>
                        </div>
                        <div class="form-row mt-3">
                          <div class="col">
                            <button class="btn btn-primary">Add Card</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="tab-pane" id="pricing-second" role="tabpanel" aria-labelledby="second-tab">
                    <div class="boxed p-3">
                      <form>
                        <div class="form-row">
                          <div class="col-8">
                            <input type="text" class="form-control form-control-minimal" placeholder="Paypal Mail">
                          </div>
                          <div class="col-4">
                            <button class="btn btn-primary btn-block">Subscribe</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col">
                <div class="table-responsive-md">
                  <table class="table table-lined">
                    <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Order</th>
                      <th scope="col">Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <th scope="row">July 20, 2018</th>
                      <td>#110</td>
                      <td>$8021.47</td>
                    </tr>
                    <tr>
                      <th scope="row">July 20, 2018</th>
                      <td>#111</td>
                      <td>$8021.47</td>
                    </tr>
                    <tr>
                      <th scope="row">July 22, 2018</th>
                      <td>#112</td>
                      <td>$815</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- / tab -->

      <!-- tab settings -->
      <div class="tab-pane" id="demo-2-4" role="tabpanel" aria-labelledby="demo-2-4">
        <div class="row justify-content-center">
          <div class="col-md-10 col-lg-8">

            <div class="row mb-4">
              <div class="col">
                <div class="boxed">
                  <div class="row align-items-center justify-content-between p-3">
                    <div class="col-md-2 pb-2 pb-md-0 text-center">
                      <% if current_user.profile.profile_picture.attached? %>
                        <%= image_tag current_user.profile.profile_picture, class: "avatar avatar-lg rounded", alt: "Avatar" %>
                      <% else %>
                        <%= image_tag "profile_nil.png", class: "avatar avatar-lg rounded", alt: "Avatar"%>
                      <% end %>
                    </div>
                    <div class="col-md-5 text-center text-md-left">
                        <h4 class="mb-0"><%= current_user.email %></h4>
                        <a href="" class="fs-14 link text-primary">Change Avatar</a>
                        <%= form_tag url_for(action: 'update'), method: "patch", multipart: true do %>

                        <%= file_field_tag :profile_picture %>
                        </div>
                        <div class="col-md-4 text-center text-md-right mt-1 mt-md-0">
                         <!-- <a href="" class="btn btn-primary btn-rounded">Upgrade Plan</a> -->
                        </div>

                      </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <h5 class="mb-2 fs-20 font-weight-normal">General Information</h5>
                <form>

                  <div class="form-row">
                    <div class="col">
                      <div class="form-group">
                        <label for="firstName">First Name</label>
                        <%= text_field_tag :first_name, "", class: 'form-control' %>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="secondName">Last Name</label>
                        <%= text_field_tag :last_name, "", class: 'form-control' %>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col">
                      <div class="form-group">
                        <label for="userMail">Email address</label>
                        <input type="email" class="form-control" id="userMail" aria-describedby="userMail" placeholder="johndoe@example.com">
                      </div>
                    </div>
                  </div>
                  <!--<div class="form-row mt-1 align-items-center">
                    <div class="col-3">
                      <%= submit_tag "Save Changes", class: "btn btn-secondary"%>
                    </div>
                  </div> -->
              </div>
            </div>

            <div class="row">
              <div class="col">
                <h5 class="mb-2 fs-20 font-weight-normal">Profile Information</h5>
                  <div class="form-row">
                    <div class="col">
                      <div class="form-group">
                        <label for="userCity">City</label>
                        <%= text_field_tag :city, "", class: 'form-control' %>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label for="userCountry">Country</label>
                        <%= text_field_tag :country, "", class: 'form-control' %>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col">
                      <div class="form-group">
                        <label for="userCity">Zip Code</label>
                        <%= text_field_tag :zip_code, "", class: 'form-control' %>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                  <div class="col">
                      <div class="form-group">
                        <label for="userCountry">Adress</label>
                        <%= text_field_tag :adress, "", class: 'form-control' %>
                      </div>
                    </div>
                    </div>
                  <div class="form-row">
                    <div class="col">
                      <div class="form-group">
                        <label for="userTwitter">Phone number</label>
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">+33</span>
                          </div>
                            <%= telephone_field_tag :phone_number, "", class: 'form-control' %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col">
                      <div class="form-group">
                        <label for="exampleFormControlTextarea1">Description</label>
                        <%= text_area_tag :description, "", class: 'form-control' %>
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                    <div class="col-3">
                      <%= submit_tag "Save Changes", class: "btn btn-secondary"%>
                    </div>
                  </div>
                </form>
               <% end%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
