<% provide(:title, @seller.profile.first_name) %>
<%= render partial: 'layouts/banner',
                    locals: {page_title: "Les chats de #{@seller.profile.first_name}"} %>

<section class="component">
  <div class="d-flex flex-wrap justify-content-start align-items-stretch m-2 mb-5">
    <div>
    <%= image_tag @seller.profile.avatar, class: "avatar avatar-lg rounded", alt: "Avatar" %>
    </div>
    <div class="pl-2">
      <h4><%= @seller.profile.first_name %> <%= @seller.profile.last_name %></h4>
      <p>Membre depuis <%= @seller.profile.created_at.strftime("%F") %></p>
    </div>
    <div class="blockquote ml-5 mb-5 mt-0">
        <%= @seller.profile.description %>
    </div>

  </div>

  <%= render 'profiles/partials/show_seller' %>
</section>

