<div class="accordion" id="cat-table">
  <!-- col each -->
  <% @cats.each_with_index do |cat, i|%>
  <div class="card">
    <!-- start header -->
    <div class="card-header d-flex flex-row tab-cat-table" id="header<%= i %>">
      <div class="tab-cat-cell btn btn-link" type="button" data-toggle="collapse" data-target="#collapse<%= i %>">
        <%= cat.title %> (<%= cat.id %>)
      </div>
      <div class="tab-cat-cell">
        <%= number_to_currency(cat.price) %>
      </div>
      <div class="tab-cat-cell">
        <%= cat.cart_cats.count %>
      </div>
      <div class="tab-cat-cell">
        <%= number_to_currency(cat.cart_cats.pluck(:price).sum) %>
      </div>
      <div class="tab-cat-cell">
        <%= link_to "retirer", "#" %><br />
        <%= link_to "éditer", edit_cat_path %>
      </div>
    </div>
    <!-- end header -->
    <!-- start body -->
    <div id="collapse<%= i %>" class="collapse" aria-labelledby="headingOne" data-parent="#cat-table">

      <div class="card-body">
        <!-- #TODO: make it a sub-table -->
        <% cat_data_for_seller(cat.id).each do |data| %>
        <div class="boxed p-1 d-flex justify-content-between">
          <span><%= data[:user] %> en a acheté <%= data[:quantity] %> le <%= data[:date] %></span>
          <span class="text-lg-right"><%= number_to_currency(data[:total_price]) %></span>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
  <div class="boxed p-3 text-lg-right">
    Ventes: <%= @cats.map { |c| c.cart_cats.count }.sum %>
    <h5>
      Total: <%= number_to_currency(@cats.map { |c| cat_data_for_seller(c.id).map{ |data| data[:total_price] }.sum}.sum) %>
    </h5>
  </div>


</div>
