<%= render 'cats/banner' %>

<div class="component-example">
  <div class="row justify-content-center">
    <h2>Edit the cat card</h2><br>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-6">
      <div class="row mb-4">
        <%= form_tag url_for(action: 'update'), method: "patch", multipart: true do %>
        <div class="col">
          <div class="boxed">
            <div class="row align-items-center justify-content-between p-3">
            <div class="col-md-5">
              <p><b>Current pic</b></p>
              <%if @cat.item_picture.attached?%>
                <%=image_tag @cat.item_picture, alt: 'item picture'%>
                <% else %>
                <%end%>
                <%= label_tag 'Image' %>
                <%= file_field_tag :item_picture %>
             </div>
              
              <div class="col-md-5">
                <p><b>Current Availability :  </b></p> 
                <p><% if @cat.is_available == true %>
                <%= "Availaible for sale" %>
                <% else %>
                <%= "Unavailaible for sale" %>
                <% end %></p>
              
                <%= "Change availability : "%>   
                <%if @cat.is_available == true %>
                <%= check_box_tag(:is_available, "false") %>
                <% else %>
                <%= check_box_tag(:is_available, "true") %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>   
      <div class="row">
        <div class="col">
          <h5 class="mb-2 fs-20 font-weight-normal">General Information</h5>
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                <%= label_tag 'Title' %>
                <%= text_field_tag 'title', @cat.title, class: "form-control", placeholder:""  %>
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <%= label_tag 'Price' %>
                <%= text_field_tag 'price', @cat.price, class: "form-control", placeholder: "" %>
              </div>
            </div>
          </div>    
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <h5 class="mb-2 fs-20 font-weight-normal"></h5>
          <div class="form-row">
            <div class="col">  
              <div class="form-group">
                <%= label_tag 'Description' %>
                <%= text_field_tag 'description', @cat.description, class: "form-control", placeholder: "" %>
              </div>
            </div>
          </div>
          <br>
          <div class="row justify-content-center">
            <%= submit_tag "Update",  class: "btn btn-primary px-5" %>
          </div> 
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</div>