<li class="list-group-item d-flex justify-content-between lh-condensed">
  <div class="flex-shrink-1 w-50">
    <h6 class="font-weight-bold"><%= show_list.cat.title %></h6>
    <small class="text-muted"><%= show_list.cat.description %></small>
  </div>
  <span class="flex-shrink-0 w-10"><%= number_to_currency(show_list.price) %></span>
  <span class="flex-shrink-0 w-10"><%= show_list.quantity %></span>
  <span class="flex-shrink-0 w-10"><%= number_to_currency(show_list.total_cat_price) %></span>
  <span class="flex-shrink-0 w-10">
    <!-- TODO: modify quantity instead of delete-->
    <%= link_to "supprimer", cart_cat_path(show_list.id), method: :delete, class: 'text-warning' %>
  </span>
</li>
