<%= render 'banner' %>
<%= link_to "Home", root_path, class:"btn btn-outline-primary btn-sm" %>

    <section id="default" class="component">
      <div class="tab-content" id="component-1">
        <div class="container justify-content-center">
          <div class="card">
            <% if @cat.item_picture.attached?%>
              <%=image_tag @cat.item_picture, alt: @cat.title, class: "card-img-top image_cat"%>
            <% else %>
                <%= image_tag("example.jpg", class: "card-img-top image_cat",)%>
            <% end %>
            <div class="card-body text-center">
              <h5 class="card-title"><%= @cat.title %></h5>
              <p class="card-text"><%= @cat.description %></p>
            </div>
            <ul class="list-group list-group-flush text-center">        
              <li class="list-group-item">Price : <%= number_to_currency(@cat.price) %></li>
            </ul>
            <div class="card-body text-center">
              <%= button_to "Buy me!", {action: 'create', controller: 'cart_cats', id: @cat.id, price: @cat.price}, {class:"btn btn-outline-primary btn-sm"} %>
            </div>
          </div>
        </div>
      </div>
      <style>
        .image_cat {
          margin: auto;
          width: 70%;

        }
      </style>
    </section>



