<%= render 'banner' %>
    
<section class="component">
  <div class="tab-content" id="component-1">
    <div class="tab-pane show active" id="component-1-1" role="tabpanel" aria-labelledby="component-1-1">
      <div class="component-example">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <figure class="photo">
              <% if @cat.item_picture.attached?%>
              <%=image_tag @cat.item_picture, alt: @cat.title, class: "card-img-top image_cat"%>
              <% else %>
              <%= image_tag("example.jpg", class: "card-img-top image_cat",)%>
              <% end %>
              <% if @cat.seller.present?%>
              <p class="has-text-gray fg pt1">Sold by <%= link_to "#{@cat.user_seller}", profile_path(@cat.seller.profile) %>
              </p>
              <% end %>
              </figure>
              </div>
              <div class="col-md-6">
                <div class="container">
                    <div class="col">
                      <div class="card">
                        <div class="card-body text-center">
                          <h5 class="card-title"><%= @cat.title %></h5>
                          <p class="card-text"><%= @cat.description %></p>
                        </div>
                        <ul class="list-group list-group-flush text-center">
                          <li class="list-group-item">Price : <%= @cat.price %> €</li>
                        </ul>
                        <div class="card-footer text-center">
                        <% if user_signed_in? && current_user.id == @cat.seller_id %>
                        <!-- card footer for seller -->
                          <div class="row d-flex justify-content-around align-items-center">
                            <div class="col text-left">
                            <%= link_to 'Modifier', edit_cat_path(@cat.id), class:"btn btn-outline-primary btn-sm" %>
                            </div>
                            <div class="col text-right">
                            <%= link_to 'Retirer', @cat, method: :delete, class:"btn btn-warning btn-sm" %>
                            </div>
                           </div>
                        <% else %>
                        <!-- card footer for non-sellers-->
                          <div class="row d-flex justify-content-end">
                            <div class="text-right pr-0">
                              <% if current_cart_cats_quantity(@cat.id) %>
                              <span class="badge badge-pill badge-info">
                                <!-- current_cart_cats_quantity method defined in helper -->
                                <%= current_cart_cats_quantity(@cat.id) %>
                              </span>
                              <% end %>
                            </div>
                            <div class="text-right px-1">
                              <%= button_to "Ajouter", {action: 'create', controller: 'cart_cats', id: @cat.id, price: @cat.price}, {class:"btn btn-outline-primary btn-sm"} %>
                            </div>
                          </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><br>
    </div> 
  </section>
