<%= render 'banner' %>

    <section id="default" class="component">
      <div class="tab-content" id="component-1">
        <div class="col-md-6 col-lg-4">
          <div class="card">
            <% if @cat.item_picture.attached?%>
              <%=image_tag @cat.item_picture, alt: @cat.title, class: "card-img-top"%>
            <% else %>
                <%= image_tag("example.jpg", class: "card-img-top")%>
            <% end %>
            <div class="card-body text-center">
              <h5 class="card-title"><%= @cat.title %></h5>
              <p class="card-text"><%= @cat.description %></p>
            </div>
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item">Age : <%= @cat.age%> mois</li>
              <li class="list-group-item">Price : <%= @cat.price %> €</li>
            </ul>
            <div class="card-body text-center">
              <a><%= button_to "Buy me!", {action: 'create', controller: 'cart_cats', id: @cat.id, price: @cat.price}, {class:"btn btn-outline-primary btn-sm"} %></a>
              <a><%= link_to "Home", root_path, class: "card-link" %></a>
            </div>
          </div>
        </div>
      </div>
    </section>


