<div class="container-fluid">
  <section class="bg-purple text-white pattern" data-top-top="transform: translateY(0px);"
    data-top-bottom="transform: translateY(250px);">
    <div class="container pt-10">
      <div class="row mb-2 pb-2">
        <div class="col-md-8 col-lg-6">
          <h1>Votre commande <%= @cart.id %></h1>
          <p><%= @cart.user.email %></p>
          <pre>create.html.erb</pre>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <!-- TODO: CSS fix spacing -->
      <div class="row">
        <div class="col">
          <div class="card">
            <h5 class="card-header">Contenu</h5>
            <div class="card-body">
              <p class="card-text">Votre commande a été validée et est prête à être téléchargée ! Un mail vous à aussi été envoyé avec ce lien.</p>
              <ul class="list-group bg-light mb-2">
                <%= render partial: 'ordered_cat', collection: @cart.cart_cats %>
              </ul>
              <p class="card-text">Votre commande restera disponible dans votre <%= link_to "espace utilisateur", edit_user_registration_path %>.</p>
              <%= link_to "Télécharger", download_cart_zip_path(cart: @cart.id), class: "btn btn-primary btn-lg" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
