<header class="header-sticky header-dark">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
       <%= link_to 'Kitten Project', root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center mr-auto">
        </ul>
          <ul class="navbar-nav align-items-center mr-0">
            <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <%= link_to "Profile", edit_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to (image_tag "caddie.png", alt: "Carts", class: "nav-link", style:"width: 5%"), cart_path(current_user.current_cart)  %>

              <a><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %></a>
            </li>
            
              <% if current_user.is_admin %>
              <li class="nav-item dropdown">
                <a><%= link_to "Admin interface", admin_path, class: "nav-link" %></a></li>
                <%else%>
                <li class="nav-item dropdown">
                <%= link_to "Profile", edit_user_registration_path, class: "nav-link" %>
              </li>
              <%end%>
               <li class="nav-item">

                <a id="drop_cart_btn" class="btn btn-outline-primary btn-sm">
                    <!-- #TODO: CSS Get color right on scroll -->
                    <span class="navbar-text nav-link">Cart&nbsp;</span>
                    <small id="drop_car_badge" class="badge badge-pill badge-info">
                      <%= current_cart.count_cats %>
                    </small>
                 </a>
            </li>
        <% else %>
            <li class="nav-item dropdown">
              <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <%= link_to "Sign in", new_user_registration_path, class: "nav-link" %>
            </li>
        <% end %>
        </ul>
      </div>
    </nav>
    <% if user_signed_in? %>
      <%= render 'carts/partials/cart_dropdown' %>
    <% end %>
  </div>
</header>

