<header class="header-sticky header-dark">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
       <%= link_to 'Kitten Project', root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="burger"><span></span></span></button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav align-items-center mr-auto">
          <li class="nav-item">
            <%= link_to 'Home', root_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Pages
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="landing-pages.html">
                <span>Landing Pages</span>
                <p>Start with one of pre-made templates.</p>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="inner-pages.html">
                <span>Inner Pages</span>
                <p>Extend your website with these pages.</p>
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="app-pages.html">
                <span>App Pages</span>
                <p>Add functionality to your website.</p>
              </a>
            </div>
          </li>
          <li class="nav-item dropdown dropdown-mega">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Components
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown-1">
              <div class="row">
                <div class="col">
                  <ul class="mega-list">
                    <li><a href="components/index.html" class="highlight">Getting Started</a></li>
                    <li><a href="components/accordions.html">Accordions</a></li>
                    <li><a href="components/backgrounds.html">Backgrounds</a></li>
                    <li><a href="components/blog.html">Blog</a></li>
                    <li><a href="components/boxes.html">Boxes</a></li>
                    <li><a href="components/buttons.html">Buttons</a></li>
                    <li><a href="components/cards.html">Cards</a></li>
                    <li><a href="components/carousels.html">Carousels</a></li>
                    <li><a href="components/cta.html">CTA</a></li>
                    <li><a href="components/features.html">Features</a></li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="mega-list">
                    <li><a href="components/footers.html">Footers</a></li>
                    <li><a href="components/forms.html">Forms</a></li>
                    <li><a href="components/gallery.html">Gallery</a></li>
                    <li><a href="components/lightbox.html">Lightbox</a></li>
                    <li><a href="components/maps.html">Maps</a></li>
                    <li><a href="components/masonry.html">Masonry</a></li>
                    <li><a href="components/modals.html">Modals</a></li>
                    <li><a href="components/partners.html">Partners</a></li>
                    <li><a href="components/presentation.html">Presentations</a></li>
                    <li><a href="components/pricing.html">Pricing</a></li>
                  </ul>
                </div>
                <div class="col">
                  <ul class="mega-list">
                    <li><a href="components/progress.html">Progress</a></li>
                    <li><a href="components/sliders.html">Sliders</a></li>
                    <li><a href="components/steps.html">Steps</a></li>
                    <li><a href="components/tables.html">Tables</a></li>
                    <li><a href="components/tabs.html">Tabs</a></li>
                    <li><a href="components/testimonials.html">Testimonials</a></li>
                    <li><a href="components/typed.html">Typed</a></li>
                    <li><a href="components/typography.html">Typography</a></li>
                    <li><a href="components/users.html">Users</a></li>
                    <li><a href="components/utility.html">Utility</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>

          <ul class="navbar-nav align-items-center mr-0">
            <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <a><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %></a></li>
            <li class="nav-item dropdown">
              <%= link_to "Profile", edit_user_registration_path, class: "nav-link" %>
            </li>
        <% else %>
            <li class="nav-item dropdown">
              <%= link_to "Log in", new_user_registration_path, class: "dropdown-item" %>
            </li>
            <li class="nav-item dropdown">
              <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
            </li>
        <% end %>

        </ul>
      </div>
    </nav>
  </div>
</header>
